.gallery{
    background-color: $color-white-light;
    padding-top: 1rem;
    padding-bottom: 2rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__link{
        display: flex;
        justify-content: center;
    }
    &__image{
        max-width: 100%;
    }
}