/*Path image*/
$pathImage: '../images/';
$pathFont: '../fonts/';
/*Color*/
$blue-light: #0091a8;
$blue-light-semi-bold: #58bccc;
$blue-semi-light: #e2eff1;
$blue-light-semi-medium: #3076a5;
$blue-light-sm-bold: #00699d;
$blue-light-smb-bold: #006bb4;
$blue-light-bold: #015d6c;
$blue-bold: #013253;
$blue-bold-semi: #0C3353;
$green: #209c2c;
$color-green-confirm: #03A81E;
$color-green: #006400;
$color-green-info: #d0f8d4;
$color-grey: #d3d3d3;
$gray-semi-light: #c5c5c5;
$gray-semi-medium-light: #cecece;
$gray-semi-medium-bold: #98ACB9;
$gray-semi-medium-white: #CBD5DC;
$gray-light: #e3e3e3;
$gray-light-semi: #ededed;
$gray-light-semi-medium: #e4e9ec;
$gray-semi-bold: #6c757d;
$gray-bold: #707070;
$gray-medium-bold: #686868;
$gray-semi-medium: #8f8f8f;
$gray-medium: #333333;
$gray-medium-light: #5F6368;
$color-gray: #555;
$color-gray-light: #666;
$gray-bold-black: #969696;
$color-facebook: #395185;
$color-facebook-title: #385898;
$color-orange: #FFC5C5;
$color-red: #dc2217;
$color-red-error: #e02b27;
$color-red-error-danger: #ff1c1c;
$color-red-error-danger-payment: #FA2B2B;
$orange: #fc642d;
$color-orange-light: #ff6600;
$yellow: #fbaf25;
$color-warning: #F99F3D;
$black: #000;
$black-semi: #0f0f0f;
$black-semi-bold: #030304;
$white: #fff;
$white-semi: #f8f8f8;
$color-white-light: #f0f0f0;
$color-white-bold: #F6F6F6;
$white-semi-bold: #eee;
$color-white-light-sm: #e5efe5;
$color-white-light-semi-bold: #eaeaea;
$color-white-light-semi: #f2f5f6;
$color-white-light-semi-1: #fae5e5;
/*Color text*/
$text-checkout-color: $gray-medium;
$text-error: $orange;
$text-card-body: $blue-light;
$text-link: $gray-bold;
$text-checkout: $yellow;
$text-view-promo: $blue-light;
$text-title: $blue-bold;
$text-title-h3: $black-semi-bold;
$text-summary: $gray-semi-medium;
/*Color background*/
$bg-btn-coupon: $yellow;
$bg-btn: $blue-light;
$bg-btn-checkout: $blue-light;
$bg-btn-checkout-hover: $blue-bold;
$bg-shipping: $blue-semi-light;
$bg-footer: $white-semi-bold;
$bg-promo: $blue-bold;
/*Color border*/
$br-btn-coupon: $yellow;
$br-color: $gray-light;
$br-frm: $blue-light;
$br-shipping: $white-semi;
$br-input-search: $gray-light;

$caption-color: $gray-semi-bold;
$link-color: $blue-light;
$link-hover-color: $blue-light;
$body-color: $gray-medium;
$body-bg: $white;