.order__chatapp{
    .info__label{
        font-weight: 700;
    }
    .order__info__subtotal--cart{
        .info__price{
            font-family: "Roboto";
            font-weight: normal;
        }
    }
}