.search{
    &__radius{
        border: 1px solid $gray-semi-medium;
        border-radius: 5px;
    }
    &__input{
        padding: 7px 12px;
        color: $blue-bold;
        margin-bottom: 5px;
    }
    &__list{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        max-height: 165px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 1px;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }
    &__item{
        @include textDisplay(flex, center, space-between);
        padding-top: 3px;
        padding-bottom: 3px;
        &:not(:last-child){
            margin-bottom: 5px;
        }
        &__col{
            display: flex;
            align-items: center;
        }
    }
    &__img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        margin-right: 3px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        &--cart{
            width: 60px;
            height: 60px;
        }
    }
    &__link{
        @include font(700 12px/16px "Roboto", $blue-light-semi-medium);     
        margin-right: 3px;   
    }
    &__price{
        @include font(italic 10px/13px "Roboto", $gray-semi-medium);
        margin-right: 5px;
        &__discount{
            text-decoration: line-through;
        }
        &__special{
            color: $blue-light;
        }
    }
}